.jumbotron {
  background-color: #ece6e6;
  padding-top: 8rem;
}

section {
  padding-top: 8rem;
}

#projects {
  background-color: #ece6e6;
}

.jumbotron .container {
  /* min-height: 400px; */
}

.my-name {
  margin-top: 10rem;
  font-weight: bolder;
}

.my-photo {
  margin-top: 3rem;
}
